.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    margin: 20px;
}
.user-name{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.food-info{
    display: flex;
    flex-direction: column;
    margin: 20px;

}
.calories{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.Date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}